.scriptWrap {
  width: calc(100vw - 180px - 3.125vw);
  margin: 0 auto;
  padding-top: 1.5625vw;
  height: 42.7083vw;

  .top {
    display: flex;
    justify-content: space-between;
  }

  .search {
    display: flex;
    justify-content: space-between;
  }

  .scrollWrap {
    height: 36.025vw;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 1.0417vw;
    padding-bottom: 20px;

    ::-webkit-scrollbar {
      display: none;
    }

    .middle {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1.0417vw;
      padding-top: 2px;

      .prpItem {

        // width: 21.0938vw;
        width: calc((100vw - 180px - 6.25vw)/4);
        height: 10.8333vw;
        background: #FFFFFF;
        border: 1px solid rgba(7, 17, 39, 0.12);
        border-radius: 0.625vw;
        padding: 0.8333vw;
        position: relative;

        &:hover {
          box-shadow: 0px 0.4167vw 1.25vw 0px rgba(7, 17, 39, 0.12);
        }

        .first {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.7292vw;

          .left {
            width: 2.9167vw;
            height: 2.9167vw;
            border-radius: 0.4167vw;
            border: 1px solid #F0F1F3;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
          }

          .right {
            font-size: 16px;
            max-width: 15.625vw;
            color: #071127;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: pre-wrap;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }

        .account {
          margin-top: 10px;
          font-size: 0.7292vw;
          color: #5E6472;
        }

        .second {
          width: 100%;
          margin-top: 0.625vw;
          font-size: 0.7292vw;
          color: #5E6472;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: pre-wrap;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;

        }

        .third {
          position: absolute;
          bottom: 0.8333vw;
          // right: 0.8333vw;
          left: 0;
          display: flex;
          justify-content: space-between;
          width: 100%;

          .statuShow {
            width: 7.8125vw;
            margin-left: 0.8333vw;
          }

          .actionBtn {
            display: flex;
            gap: 10px;
            margin-right: 0.8333vw;

            .iconWrap {
              background: #f6f7f8;
              border-radius: 15%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 24px;
              height: 24px;
              font-size: 14px;

              >span {
                font-size: 16px;
              }

              &:hover {
                border: 1px solid #0e5dd8;
                color: #0e5dd8;
                cursor: pointer;
              }
            }
          }

        }
      }
    }

  }



}

.createWrap {
  max-height: 70vh;
  overflow: auto;
}